@use 'colors';

@keyframes load {
  0% {
    background-color: colors.$main;
  }
  50% {
    background-color: rgba(colors.$font, 0.3);
  }
  100% {
    background-color: colors.$main;
  }
}

.loader {
  width: 100%;
  height: 100%;
  animation: 1.5s linear infinite load;
}
