@use 'breakpoints';
@use 'placeholders';
@use 'colors';

.container {
  width: 100%;
  height: 4em;
  padding: 0 1em;

  grid-area: health;
  display: flex;
  justify-content: end;

  border-left: 0.5em solid colors.$main;

  @include breakpoints.portrait-s {
    justify-content: space-between;
  }
  @include breakpoints.landscape-s {
    justify-content: space-between;
  }
}

.heartsLong {
  width: 28em;
  height: 4em;

  display: none;
  justify-content: space-between;
  align-items: center;

  @include breakpoints.landscape-s {
    display: flex;
  }
}

.heartsShort {
  font-size: 2em;

  margin-top: 0.25em;

  @include breakpoints.landscape-s {
    display: none;
  }
}

.heartIcon {
  width: 2em;
  height: 2em;

  filter: brightness(0) saturate(100%) invert(50%) sepia(67%) saturate(3157%)
    hue-rotate(334deg) brightness(107%) contrast(101%);
}

.brokenHeartIcon {
  width: 2em;
  height: 2em;

  filter: opacity(30%);
}

.count {
  font-size: 2em;

  margin-left: 0.5em;
  padding-top: 0.5em;

  line-height: 1em;
}
