@use 'breakpoints';
@use 'placeholders';
@use 'colors';
@use 'sass:math';

%petScreenButton {
  @extend %sizedButton;

  font-size: 1.6em;

  width: 100%;
  height: 2.5em;

  line-height: 2.8em;

  @include breakpoints.portrait-s {
    font-size: 2em;

    height: 2em;

    line-height: 2.25em;
  }
}

.container {
  font-size: 1em;

  position: absolute;
  z-index: 100;

  width: 100%;
  height: 100%;

  display: grid;
  grid-area: petScreen;
  grid-template-rows: 1fr 4em;
  grid-template-areas: 'pets pets' 'return summon';
  @include breakpoints.landscape-s {
    display: none;
  }

  background-color: colors.$background;
  backdrop-filter: blur(3em);
}

.pets {
  padding: 0;

  grid-area: pets;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  place-items: center;

  border-bottom: 0.5em solid colors.$main;
}

.returnButton {
  @extend %petScreenButton;

  grid-area: return;

  border-right: 0.25em solid colors.$main;

  @include breakpoints.portrait-s {
    border-right: math.div(1em, 3) solid colors.$main;
  }
}

.summonButton {
  @extend %petScreenButton;

  grid-area: summon;
}
