@use 'colors';

.message {
  font-size: 0.75em;

  margin-top: 2em;

  word-spacing: -0.5em;
  text-align: right;
}

.good {
  color: colors.$good;
}

.bad {
  color: colors.$bad;
}

.stress {
  color: colors.$primary;
}
