@use 'colors';
@use 'placeholders';

.container {
  font-size: 1em;

  height: 3em;
  width: 24em;

  display: flex;
  align-items: center;
}

.title {
  font-size: 1.25em;

  height: 2em;
  flex-grow: 1;

  line-height: 2em;
  word-spacing: -0.5em;
}

.button {
  @extend %button;

  font-size: 2em;

  width: 1.5em;
  height: 1.5em;
  padding: 0;

  line-height: 1.75em;
}

.icon {
  margin-top: -0.5em;
  margin-right: 1em;
}

.count {
  font-size: 1.5em;

  height: 2em;

  line-height: 2em;
}
