@use 'breakpoints';
@use 'colors';
@use 'fonts';

body {
  background: colors.$background url('/assets/images/cover.png') center/cover;
  color: colors.$font;
}

.container {
  font-size: 0.75em;

  min-width: 20rem;
  width: min(47em, 100vw);
  height: max(50em, 100vh);

  border: 1em solid colors.$borders;
  background-color: colors.$main;

  @include breakpoints.landscape-s {
    font-size: 1em;
    width: 48em;
    height: 35em;
  }
  @include breakpoints.landscape-m {
    width: 64em;
    height: 43em;
  }
  @include breakpoints.landscape-l {
    width: 80em;
    height: 55em;
  }
  @include breakpoints.portrait-s {
    font-size: 1em;
    width: 35em;
    height: 48em;
  }
  @include breakpoints.portrait-m {
    width: 43em;
    height: 64em;
  }
  @include breakpoints.portrait-l {
    width: 55em;
    height: 80em;
  }
}
