@use 'breakpoints';
@use 'placeholders';
@use 'colors';

.container {
  @extend %clickable;

  font-size: 1em;

  width: 100%;
  height: 100%;
  padding: 0.5em;

  display: grid;
  grid-template-columns: 5em 1fr;
  grid-column-gap: 1em;
  grid-template-areas: 'avatar petName' 'avatar stats';

  border-bottom: 0.5em solid colors.$borders;
  list-style-type: none;

  &:hover,
  &:focus {
    .petName {
      color: colors.$primary;
    }
  }
  &:nth-child(4) {
    border-bottom: none;
  }
}

.petName {
  font-size: 1.75em;

  height: 2em;

  grid-area: petName;
  align-self: end;

  line-height: 2.5em;
}

.avatar {
  width: 5em;
  height: 5em;

  grid-area: avatar;
  align-self: center;

  filter: invert(1);
}

.avatarSleeping {
  filter: brightness(0) saturate(100%) invert(88%) sepia(8%) saturate(5598%)
    hue-rotate(174deg) brightness(101%) contrast(101%);
}

.stats {
  width: 17em;
  height: 2.5em;

  grid-area: stats;
  display: flex;
  justify-content: start;
}

.stat {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

.icon {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 1.5em;
  height: 1.5em;

  filter: brightness(0) saturate(100%) invert(86%) sepia(25%) saturate(2845%)
    hue-rotate(324deg) brightness(99%) contrast(105%);
}

.count {
  font-size: 1.25em;

  height: 2em;

  line-height: 2.5em;
}
