@use 'colors';
@use 'breakpoints';
@use 'placeholders';
@use 'sass:math';

%petRouteButton {
  @extend %sizedButton;

  height: 100%;

  border-top: 0.25em solid colors.$main;

  @include breakpoints.landscape-s {
    border-top: none;
  }
}

%petScreenProperty {
  padding: 4% 0;

  border-top: 0.5em solid colors.$main;

  display: grid;
  grid-template-columns: 1fr;
  place-items: center;

  @include breakpoints.portrait-s {
    padding: 0.5em 0;
  }
  @include breakpoints.portrait-m {
    font-size: 1.25em;
  }
  @include breakpoints.portrait-l {
    font-size: 1.5em;
  }
  @include breakpoints.landscape-s {
    font-size: 0.88em;

    padding: 2em 0;
  }
  @include breakpoints.landscape-m {
    font-size: 1.2em;

    padding: 3em 0;
  }
  @include breakpoints.landscape-l {
    font-size: 1.4em;

    padding: 3em 0;
  }
}

.container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 6em 4.5em;
  grid-template-areas: 'card card' 'stats stats' 'attributes attributes' 'hearts mana' 'return kill';

  @include breakpoints.portrait-s {
    grid-template-rows: 1fr 2fr 2fr 4em 4.5em;
  }
  @include breakpoints.portrait-m {
    grid-template-rows: 1fr 2fr 2fr 6em 4.5em;
  }
  @include breakpoints.landscape-s {
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 10em 2fr 4em;
    grid-template-areas: 'card card card card' 'stats stats attributes attributes' 'return hearts mana kill';
  }
  @include breakpoints.landscape-l {
    grid-template-rows: 14em 2fr 4em;
  }
}

.card {
  width: 24em;
  height: 8em;
  padding: 1em 0;

  grid-area: card;
  place-self: center;
  display: grid;
  grid-template-columns: 1fr 5.75em;
  grid-template-areas: 'name avatar' 'sleep avatar' 'age avatar';
  justify-items: end;

  @include breakpoints.portrait-m {
    font-size: 1.25em;
  }
  @include breakpoints.portrait-l {
    font-size: 1.5em;
  }
  @include breakpoints.landscape-s {
    margin-right: 1em;

    justify-self: end;
  }
  @include breakpoints.landscape-m {
    font-size: 1.25em;
  }
  @include breakpoints.landscape-l {
    font-size: 1.5em;
  }
}

.name {
  font-size: 2em;

  grid-area: name;
}

.avatar {
  margin-right: 0.25em;

  grid-area: avatar;
}

.sleep {
  grid-area: sleep;
}

.age {
  grid-area: age;
}

.stats {
  @extend %petScreenProperty;

  grid-area: stats;

  @include breakpoints.landscape-s {
    border-right: 0.375em solid colors.$main;
    border-bottom: 0.5em solid colors.$main;
  }
  @include breakpoints.landscape-m {
    border-bottom: math.div(2.5em, 6) solid colors.$main;
  }
  @include breakpoints.landscape-l {
    border-bottom: math.div(2.5em, 7) solid colors.$main;
  }
}

.attributes {
  border-bottom: 0.5em solid colors.$main; // reason for duplicate

  @extend %petScreenProperty;

  grid-area: attributes;

  @include breakpoints.landscape-s {
    border-left: 0.375em solid colors.$main;
    border-bottom: 0.5em solid colors.$main;
  }
  @include breakpoints.landscape-m {
    border-bottom: math.div(2.5em, 6) solid colors.$main;
  }
  @include breakpoints.landscape-l {
    border-bottom: math.div(2.5em, 7) solid colors.$main;
  }
}

.return {
  @extend %petRouteButton;

  border-right: 0.125em solid colors.$main;

  grid-area: return;

  @include breakpoints.landscape-s {
    border-right: 0.25em solid colors.$main;
  }
}

.kill {
  @extend %petRouteButton;

  border-left: 0.125em solid colors.$main;

  grid-area: kill;

  &:hover,
  &:focus {
    color: colors.$bad;
  }
  &:disabled {
    color: rgba(colors.$main, 0.3);
  }

  @include breakpoints.landscape-s {
    border-left: 0.25em solid colors.$main;
  }
}

.mana {
  font-size: 3em;

  place-self: center;
  grid-area: mana;

  @include breakpoints.portrait-s {
    font-size: 2em;
  }
  @include breakpoints.portrait-m {
    font-size: 2.5em;
  }
  @include breakpoints.landscape-s {
    font-size: 2em;
  }
}

.hearts {
  font-size: 3em;

  grid-area: hearts;
  display: flex;
  place-self: center;

  @include breakpoints.portrait-s {
    font-size: 2em;
  }
  @include breakpoints.portrait-m {
    font-size: 2.5em;
  }
  @include breakpoints.landscape-s {
    font-size: 2em;
  }
}
