@use 'breakpoints';
@use 'placeholders';
@use 'colors';

.container {
  font-size: 1em;

  height: 100%;
  padding: 0.5em;

  grid-area: chat;
  display: flex;
  flex-direction: column-reverse;

  border-top: 0.5em solid colors.$main;
  border-bottom: 0.5em solid colors.$main;

  overflow: scroll;

  @include breakpoints.landscape-s {
    border-left: 0.5em solid colors.$main;
  }
}

.gg {
  font-size: 1.5em;

  margin-top: 1em;

  color: colors.$bad;
  text-align: right;
}
