* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2';
}

#app {
  display: grid;
  min-height: 100vh;
  width: max(100vw, 20rem);
  place-content: center;
}

button {
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;
}
