* {
  box-sizing: border-box;

  margin: 0;

  font-family: 'Press Start 2';
}

body {
  width: max(100vw, 20rem);

  display: grid;
  place-content: center;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
